:root{
    --primary-color:#8b0f0f;
    --secondary-color:#c9a55a;
    --background-gray:#00000014;/*color for text fields background*/
    --text-color:#1e1b1a;
    --background-white:##ffffff;/*main background color*/
    --border-form-color:#00000014;/*border color for text fields and form elements*/
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color:var(--background-white) ;
    color: var(--text-color);
}

button{
    cursor: pointer;
    border:none;
    outline:none;
}

input{
    outline:none;
}


/*---------------------------------------------------*/
.icon-wrapper {
  position: relative;
  display: inline-block;
}

.burst-container {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
}

.particle {
  position: absolute;
  font-size: 1.2rem;
  animation: fly-out 1s forwards ease-out;
  opacity: 0;
}

/* توزيع عشوائي للاتجاهات */
.p-0 { --x: -50px; --y: -60px; }
.p-1 { --x: 50px;  --y: -60px; }
.p-2 { --x: 0px;   --y: -80px; }

@keyframes fly-out {
  0% {
    transform: translate(0, 0) scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translate(var(--x), var(--y)) scale(1.2);
    opacity: 0;
  }
}